
        .addres {
            width: 390px;
            height: 150px;
            background-color: #fff;
            margin: -2335px 30px 20px 765px;
        }
        .content2{
           font-family:''Lato', arial, sans-serif';
           font-size:15px;
           font-size:medium;
           line-height:2.0;
           margin: 0px 20px 20px 20px;
                      }
       .skill {
            width: 390px;
            height: auto;
            background-color: #fff;
            margin: 25px 20px 20px 765px;
       }

        .eduction {
            width: 390px;
            height: auto;
            background-color: #fff;
            margin: 25px 20px 20px 765px;
            margin-bottom:20px;

        }

        .confernce {
            width: 390px;
            height: auto;
            background-color: #fff;
            margin: 25px 20px 20px 765px;
        }

        .certification {
            width: 390px;
            height: auto;
            background-color:#fff;
            margin: 25px 20px 20px 765px;
        }

          .youtube {
            width: 390px;
            height: 400px;
            background-color: #fff;
            margin: 25px 20px 20px 765px;
        }
     
     .new {
             width: 1155px;
              height: auto;
              background-color:#fff;
               
        }
     .content_gitHub{
         margin: 15px 30px 20px 30px;


     }