@*@{
        ViewBag.Title = "About";
    }
*@
    <style>
        .henok1 {
            width: 100%;
            height: 200px;
            background-color: red;
            border: 0px solid #aabbcc;
            position: absolute;
            margin-left: -8%;
            margin-right: 0%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p class="henok1">Use this area to provide additional information.</p>